## Data structures
- string
- **list**
- tuple
- set
- **dictionary**

List
- ordered, indexed, mutable, allows duplicate elements
- heterogeneous (mixed type of values can be stored)
- can be nested
- `list()` is used for creating a list from other sequences
- represented by `[ ]`

create, access, modify, methods

In [60]:
x = [] # empty list
y = list() # empty list
print(x, y)
print(type(x), type(y))

[] []
<class 'list'> <class 'list'>

In [61]:
x = [1,2,3,4,5] # numbers
names= ['ajay','vijay','sanjay']
print(x, names)

[1, 2, 3, 4, 5] ['ajay', 'vijay', 'sanjay']

In [62]:
mixed = ['Apple', 100, 'Banana', 40, 'Orange', 50]
print(mixed)

['Apple', 100, 'Banana', 40, 'Orange', 50]

In [63]:
ones = [1] * 10 # duplicate 1 10 times and store in list
print(ones)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [64]:
word = 'HomoSapiens'
chrs = list(word)
print(chrs)

['H', 'o', 'm', 'o', 'S', 'a', 'p', 'i', 'e', 'n', 's']

In [65]:
for i in mixed:
    print(i)

Apple
100
Banana
40
Orange
50

In [66]:
for i in x:
    print(i + 100)

101
102
103
104
105

In [67]:
books = ['Book1', 'Book2', 'Book3']

In [68]:
books[0] = 'Steelheart' # update 0 idx with new value

In [69]:
books[1] = "The Final Empire"
books[2] = 'The Way of Kings'
print(books)

['Steelheart', 'The Final Empire', 'The Way of Kings']

- `list_var.append(single_element)`
- `list_var.remove(single_element)`

In [70]:
books.append("The Hero of Ages")
print(books)

['Steelheart', 'The Final Empire', 'The Way of Kings', 'The Hero of Ages']

In [71]:
books.remove('The Hero of Ages') # removes first occurence of the value
print(books)

['Steelheart', 'The Final Empire', 'The Way of Kings']

In [72]:
movies='''
The Shawshank Redemption, 	
The Godfather,
The Dark Knight	,	
The Godfather: Part II,
12 Angry Men,		
Schindler's List,		
The Lord of the Rings: The Return of the King,	
Pulp Fiction,	
The Lord of the Rings: The Fellowship of the Ring,
The Good, the Bad and the Ugly,		
Forrest Gump,	
Fight Club,
The Lord of the Rings: The Two Towers,
Inception,
Star Wars: Episode V - The Empire Strikes Back,	
The Matrix,
GoodFellas,
'''.split(',')
print(movies)

['\nThe Shawshank Redemption', ' \t\nThe Godfather', '\nThe Dark Knight\t', '\t\nThe Godfather: Part II', '\n12 Angry Men', "\t\t\nSchindler's List", '\t\t\nThe Lord of the Rings: The Return of the King', '\t\nPulp Fiction', '\t\nThe Lord of the Rings: The Fellowship of the Ring', '\nThe Good', ' the Bad and the Ugly', '\t\t\nForrest Gump', '\t\nFight Club', '\nThe Lord of the Rings: The Two Towers', '\nInception', '\nStar Wars: Episode V - The Empire Strikes Back', '\t\nThe Matrix', '\nGoodFellas', '\n']

In [73]:
# movies =[movie.strip() for movie in movies if len(movie.strip())> 0]

In [74]:
print(movies)

['The Shawshank Redemption', 'The Godfather', 'The Dark Knight', 'The Godfather: Part II', '12 Angry Men', "Schindler's List", 'The Lord of the Rings: The Return of the King', 'Pulp Fiction', 'The Lord of the Rings: The Fellowship of the Ring', 'The Good', 'the Bad and the Ugly', 'Forrest Gump', 'Fight Club', 'The Lord of the Rings: The Two Towers', 'Inception', 'Star Wars: Episode V - The Empire Strikes Back', 'The Matrix', 'GoodFellas']

In [75]:
movies[:3] # first 3 elements

['The Shawshank Redemption', 'The Godfather', 'The Dark Knight']

In [76]:
books = []
for i in range(5):
    books.append(input())
print(books)

['', '', '', '', '']

In [77]:
movies[:-5] # everything except not last 5 elements

['The Shawshank Redemption',
 'The Godfather',
 'The Dark Knight',
 'The Godfather: Part II',
 '12 Angry Men',
 "Schindler's List",
 'The Lord of the Rings: The Return of the King',
 'Pulp Fiction',
 'The Lord of the Rings: The Fellowship of the Ring',
 'The Good',
 'the Bad and the Ugly',
 'Forrest Gump',
 'Fight Club']

In [81]:
print(movies[5:-5]) # start at idx 5 and stop at idx -5

["Schindler's List", 'The Lord of the Rings: The Return of the King', 'Pulp Fiction', 'The Lord of the Rings: The Fellowship of the Ring', 'The Good', 'the Bad and the Ugly', 'Forrest Gump', 'Fight Club']

In [82]:
print(movies[::-1]) # reverse the list

['GoodFellas', 'The Matrix', 'Star Wars: Episode V - The Empire Strikes Back', 'Inception', 'The Lord of the Rings: The Two Towers', 'Fight Club', 'Forrest Gump', 'the Bad and the Ugly', 'The Good', 'The Lord of the Rings: The Fellowship of the Ring', 'Pulp Fiction', 'The Lord of the Rings: The Return of the King', "Schindler's List", '12 Angry Men', 'The Godfather: Part II', 'The Dark Knight', 'The Godfather', 'The Shawshank Redemption']

In [80]:
print(movies[::2]) # every 2nd element

['The Shawshank Redemption', 'The Dark Knight', '12 Angry Men', 'The Lord of the Rings: The Return of the King', 'The Lord of the Rings: The Fellowship of the Ring', 'the Bad and the Ugly', 'Fight Club', 'Inception', 'The Matrix']

#### methods - 11
- adding
    - append()
    - insert()
    - extend()
- remove
    - remove()
    - pop()
    - clear()
- utility
    - index()
    - count()
    - sort()
    - reverse()
    - copy()

In [85]:
x= [1,2]
x.append(3)
print(x)

[1, 2, 3]

In [86]:
x.insert(1, 1.5) # insert 1.5 at idx 1 and shift rest of the elements
print(x)

[1, 1.5, 2, 3]

In [87]:
x.insert(3, 2.5)
print(x)

[1, 1.5, 2, 2.5, 3]

In [93]:
a = [1,2,3]
b = [4,1,2,5]
a + b

[1, 2, 3, 4, 1, 2, 5]

In [94]:
a.extend(b)
print(a)

[1, 2, 3, 4, 1, 2, 5]

- WAP to calculate the sum of all the elements in a list
- wap to find the largest number in a list
- wap to find the smallest number in a list
- wap to find the second largest number in a list